PORT=3001

DB_HOST=insert-your-database-host-here
DB_PORT=insert-your-database-port-here
DB_USERNAME=insert-your-database-username-here
DB_PASSWORD=insert-your-password-here
DB_MASTER_NAME=insert-your-master-database-name-here
DB_ATTENDANCE_NAME=insert-your-attendance-database-name-here

JWT_SECRET=dev-shared-jwt-secret-change-me
JWT_EXPIRES_IN=1h

EXIF_TOLERANCE_MINUTES=10
UPLOAD_DIR=uploads
